requests
flask
flask‑sock
flask-cors
google‑auth‑oauthlib
google‑api‑python‑client
google-auth-httplib2
googlemaps
gtts
pillow
simple‑websocket
google‑generativeai
dotenv
google-search-results
beautifulsoup4
openai-whisper
ffmpeg-python
pyvista
