requests
flask
flask‑sock
flask-cors
google‑auth‑oauthlib
google‑api‑python‑client
googlemaps
gtts
pillow
simple‑websocket
google‑generativeai
dotenv
google-search-results
beatifulsoup4
openai-whisper
